<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div
      class="flex justify-between items-center border-gray-100 py-6 md:justify-start md:space-x-10"
    >
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="../" class="order-first"><img src="/images/filogo.svg" /></a>
      </div>

      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a
          href="../auth/signInPage"
          class="text-base font-medium uppercase"
        >
          Sign in
        </a>
        <a
          href="../auth/signUpPage"
          id="getStarted"
          class="ml-8 whitespace-nowrap inline-flex items-center justify-center border rounded-lg font-medium text-white bg-black"
        >
          GET STARTED
        </a>
      </div>
    </div>
  </div>
</div>
